<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539412565674-09r5o49d31hvbpd5b2enss0kfjfge437.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539412565674-09r5o49d31hvbpd5b2enss0kfjfge437</string>
	<key>API_KEY</key>
	<string>AIzaSyDldSGY-yBUi3fW92U_e-ZTyrMSaCPjNtw</string>
	<key>GCM_SENDER_ID</key>
	<string>539412565674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.jec.weng.heng.ArtScreen</string>
	<key>PROJECT_ID</key>
	<string>artscreen-104d9</string>
	<key>STORAGE_BUCKET</key>
	<string>artscreen-104d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539412565674:ios:926921c3c85434c8254ad3</string>
	<key>DATABASE_URL</key>
	<string>https://artscreen-104d9.firebaseio.com</string>
</dict>
</plist>